section#screenshot-section.screenshots.deep-dark-bg
				.container
						.section-header.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
								h2.white-text Screenshots
								.colored-line
								.section-description
										| List your app features and all the details Lorem ipsum dolor kadr
								.colored-line
						.row.wow.bounceIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
								#screenshots.owl-carousel.owl-theme
										.shot
												a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/1.jpg', data-lightbox-gallery='screenshots-gallery')
														img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/1.jpg', alt='Screenshot')


										.shot
												a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/3.jpg', data-lightbox-gallery='screenshots-gallery')
														img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/3.jpg', alt='Screenshot')


										.shot
												a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/2.jpg', data-lightbox-gallery='screenshots-gallery')
														img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/2.jpg', alt='Screenshot')


										.shot
												a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/4.jpg', data-lightbox-gallery='screenshots-gallery')
														img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/4.jpg', alt='Screenshot')


										.shot
												a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/1.jpg', data-lightbox-gallery='screenshots-gallery')
														img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/1.jpg', alt='Screenshot')


										.shot
												a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/3.jpg', data-lightbox-gallery='screenshots-gallery')
														img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/3.jpg', alt='Screenshot')


										.shot
												a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/2.jpg', data-lightbox-gallery='screenshots-gallery')
														img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/2.jpg', alt='Screenshot')


										.shot
												a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/4.jpg', data-lightbox-gallery='screenshots-gallery')
														img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/4.jpg', alt='Screenshot')