.screenshots
  padding-top 80px
  padding-bottom 120px
  .shot
    background #232323
    padding 10px
    margin 13px
    border-radius 4px
    -webkit-box-shadow none
    box-shadow none
    display block
    img
      border-radius 4px
      width 100%