.app-brief
  padding-top 110px
  padding-bottom 60px
  background #222222
  h2
    margin-bottom 20px
  .phone-image
    max-width 350px
    margin auto
    margin-bottom 50px
    img
      width 100%
  .left-align
    text-align left
    margin-bottom 50px
    p
      display block
      float none
      margin-top 50px
    .feature-list
      margin-top 40px
      li
        margin-bottom 26px
        i
          margin-right 10px
          vertical-align inherit