section#brief1.app-brief.deep-dark-bg
				.container
						.row
								.col-md-6.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
										.phone-image
												img(src='http://templateocean.com/premium/template/kane/files/images/2-iphone-left.png', alt='')
								.col-md-6.left-align.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
										h2.white-text Explain why it&apos;s best
										.colored-line-left
								p
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										ul.feature-list
												li
														i.icon_lock_alt
														|  Reliable and Secure Platform
												li
														i.icon_check_alt2
														|  Everything is perfectly orgainized for future
												li
														i.icon_paperclip
														|  Attach large file easily
												li
														i.icon_adjust-vert
														|  Tons of features and easy to use and customize