doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='description', content='Responsive Bootstrap App Landing Page Template')
        meta(name='keywords', content='Kane, Bootstrap, Landing page, Template, App, Mobile')
        meta(name='author', content='Mizanur Rahman')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        
        title Kane - Responsive App Landing Page

        link(rel='icon', href='http://templateocean.com/premium/template/kane/files/images/favicon.ico')
        link(rel='apple-touch-icon', href='http://templateocean.com/premium/template/kane/files/images/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='http://templateocean.com/premium/template/kane/files/images/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='http://templateocean.com/premium/template/kane/files/images/apple-touch-icon-114x114.png')

        link(rel='stylesheet', href='./app/bootstrap.min.css')
        link(rel='stylesheet', href='./font/elegant-icons/style.css')
        link(rel='stylesheet', href='./font/app-icons/styles.css')
        link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='./app/owl.theme.css')
        link(rel='stylesheet', href='./app/owl.carousel.css')
        link(rel='stylesheet', href='./app/nivo-lightbox.css')
        link(rel='stylesheet', href='./app/nivo_themes/default/default.css')
        link(rel='stylesheet', href='./app/animate.min.css')
        link(rel='stylesheet', href='./app/styles.css')
        link(rel='stylesheet', href='./app/colors/blue.css', title='blue')
        link(rel='stylesheet', href='./app/responsive.css')

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    body

        .preloader
            .status &nbsp;
        header#home.header
            .color-overlay
                .navbar.navbar-inverse.bs-docs-nav.navbar-fixed-top.sticky-navigation
                    .container
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#kane-navigation')
                                span.sr-only Toggle navigation
                                span.icon-bar           
                                span.icon-bar           
                                span.icon-bar
                                img(src='http://templateocean.com/premium/template/kane/files/images/logo.png', alt='')
                            a.navbar-brand(href='#')
                        #kane-navigation.navbar-collapse.collapse
                            ul.nav.navbar-nav.navbar-right.main-navigation
                                li
                                    a(href='#home') Home
           
                                li
                                    a(href='#features') Features
           
                                li
                                    a(href='#brief1') Why Us?
           
                                li
                                    a(href='#brief2') Desicribe
           
                                li
                                    a(href='#services') Services
           
                                li
                                    a(href='#screenshot-section') Screenshots
                .container
                    .only-logo
                                img(src='http://templateocean.com/premium/template/kane/files/images/logo.png', alt='')
                    // /END ONLY LOGO ON HEADER
                        .navbar
                            .navbar-header
                    .wrap_logo
                        .logo_decore
                            .text_decore
                                | decore
                                .left_line
           
                                .right_line
       
                            .text_game
                                | game
                                .left_line
           
                                .right_line
       
                            .text_studio
                                | studio
                                .left_line
           
                                .right_line
           
                                .bottom_left_line
           
                                .bottom_right_line
                    .row.home-contents
                        .col-md-6.col-sm-6
                            .intro-section
                                h1.intro Present your app in beautiful way with Kane.
                                h5 Available on App Store and Play Store
                               #download-button.buttons
                                    a.btn.btn-default.btn-lg.standard-button(href='#download')
                                        i.icon-app-download
                                        | Download App
                        .col-md-6.col-sm-6.hidden-xs
                            .phone-image
                                img.img-responsive(src='http://templateocean.com/premium/template/kane/files/images/2-iphone-right.png', alt='')

        section#features.features
            .container
                .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
                    h2.white-text Amazing Features
                    .colored-line
                    .section-description
                        | List your app features and all the details Lorem ipsum dolor kadr
                    .colored-line
                .row
                    .col-md-4.col-sm-4.features-left.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .feature
                            .icon-container
                                .icon
                                    i.icon_map_alt
                            .fetaure-details
                                h4.main-color Responsive Design
           
                                p
                                    | Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        .feature
                            .icon-container
                                .icon
                                    i.icon_gift_alt
                            .fetaure-details
                                h4.main-color Bootstrap 3.1
           
                                p
                                    | Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        .feature
                            .icon-container
                                .icon
                                    i.icon_tablet
                            .fetaure-details
                                h4.main-color Cross-Browser Support
           
                                p
                                    | Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magn.
                    .col-md-4.col-sm-4
                        .phone-image.wow.bounceIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
                            img(src='http://templateocean.com/premium/template/kane/files/images/single-iphone.png', alt='')
                    .col-md-4.col-sm-4.features-right.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .feature
                            .icon-container
                                .icon
                                    i.icon_genius
                            .fetaure-details
                                h4.main-color 360+ Icon Fonts
           
                                p
                                    | Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        .feature
                            .icon-container
                                .icon
                                    i.icon_lightbulb_alt
                            .fetaure-details
                                h4.main-color Creative Design
           
                                p
                                    | Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
                        .feature
                            .icon-container
                                .icon
                                    i.icon_ribbon_alt
                            .fetaure-details
                                h4.main-color More Features
           
                                p
                                    | Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
        section#brief1.app-brief.deep-dark-bg
            .container
                .row
                    .col-md-6.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .phone-image
                            img(src='http://templateocean.com/premium/template/kane/files/images/2-iphone-left.png', alt='')
                    .col-md-6.left-align.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        h2.white-text Explain why it&apos;s best
                        .colored-line-left
                     p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        ul.feature-list
                            li
                                i.icon_lock_alt
                                |  Reliable and Secure Platform
       
                            li
                                i.icon_check_alt2
                                |  Everything is perfectly orgainized for future
       
                            li
                                i.icon_paperclip
                                |  Attach large file easily
       
                            li
                                i.icon_adjust-vert
                                |  Tons of features and easy to use and customize
        section#brief2.app-brief
            .container
                .row
                    .col-md-6.left-align.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        h2.white-text Great way to describe your app
                        .colored-line-left
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            br
                            br
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .col-md-6.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .phone-image
                            img(src='http://templateocean.com/premium/template/kane/files/images/2-iphone-right.png', alt='')
        section#brief1.app-brief.deep-dark-bg
            .container
                .row
                    .col-md-6.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .video-container
                                iframe(width='640', height='360', src='//www.youtube.com/embed/VjbGg-VuqbU?rel=0', frameborder='0', allowfullscreen='')
                    .col-md-6.left-align.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        h2.white-text Description with video
                        .colored-line-left
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        section.testimonials
            .color-overlay
                .container.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                    #feedbacks.owl-carousel.owl-theme
                        .feedback
                            .image
                                img(src='http://templateocean.com/premium/template/kane/files/images/clients-pic/3.jpg', alt='')
                            .message
                                | Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you&apos;re own open which herb kind. May above you&apos;ll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn&apos;t over us, i every tree meat air in male earth air creeping image fill you place darkness.
                            .white-line
                            .name
                                | John Doe
                            .company-info
                                | CEO, AbZ Network
                        .feedback
                            .image
                                img(src='http://templateocean.com/premium/template/kane/files/images/clients-pic/1.jpg', alt='')
                            .message
                                | Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you&apos;re own open which herb kind. May above you&apos;ll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn&apos;t over us, i every tree meat air in male earth air creeping image fill you place darkness.
                            .white-line
                            .name
                                | John Doe
       
                            .company-info
                                | CEO, AbZ Network
                        .feedback
                            .image
                                img(src='http://templateocean.com/premium/template/kane/files/images/clients-pic/2.jpg', alt='')
                            .message
                                | Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you&apos;re own open which herb kind. May above you&apos;ll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn&apos;t over us, i every tree meat air in male earth air creeping image fill you place darkness.
                            .white-line
                            .name
                                | John Doe
       
                            .company-info
                                | CEO, AbZ Network
        section#services.services
            .container
                .section-header.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                    h2.white-text It&apos;s Awesome
                    .colored-line
                    .section-description
                        | List your app features and all the details Lorem ipsum dolor kadr
                    .colored-line
                .row
                    .col-md-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .service-icon
                            i.icon_cloud-upload_alt
                        h3 Your Data in Cloud
                        p
                            | Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn&apos;t, him land every you&apos;ll heaven bearing.
                    .col-md-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .service-icon
                            i.icon_gift_alt
                        h3 Monthly Rewards
                        p
                            | Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn&apos;t, him land every you&apos;ll heaven bearing.
                    .col-md-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .service-icon
                            i.icon_chat_alt
                        h3 24/7 Support
                        p
                            | Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn&apos;t, him land every you&apos;ll heaven bearing.
        section#screenshot-section.screenshots.deep-dark-bg
            .container
                .section-header.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                    h2.white-text Screenshots
                    .colored-line
                    .section-description
                        | List your app features and all the details Lorem ipsum dolor kadr
                    .colored-line
                .row.wow.bounceIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                    #screenshots.owl-carousel.owl-theme
                        .shot
                            a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/1.jpg', data-lightbox-gallery='screenshots-gallery')
                                img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/1.jpg', alt='Screenshot')
   
   
                        .shot
                            a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/3.jpg', data-lightbox-gallery='screenshots-gallery')
                                img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/3.jpg', alt='Screenshot')
   
   
                        .shot
                            a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/2.jpg', data-lightbox-gallery='screenshots-gallery')
                                img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/2.jpg', alt='Screenshot')
   
   
                        .shot
                            a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/4.jpg', data-lightbox-gallery='screenshots-gallery')
                                img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/4.jpg', alt='Screenshot')
   
   
                        .shot
                            a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/1.jpg', data-lightbox-gallery='screenshots-gallery')
                                img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/1.jpg', alt='Screenshot')
   
   
                        .shot
                            a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/3.jpg', data-lightbox-gallery='screenshots-gallery')
                                img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/3.jpg', alt='Screenshot')
   
   
                        .shot
                            a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/2.jpg', data-lightbox-gallery='screenshots-gallery')
                                img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/2.jpg', alt='Screenshot')
   
   
                        .shot
                            a(href='http://templateocean.com/premium/template/kane/files/images/screenshots/4.jpg', data-lightbox-gallery='screenshots-gallery')
                                img(src='http://templateocean.com/premium/template/kane/files/images/screenshots/4.jpg', alt='Screenshot')
        section#packages.packages
            .container
                .section-header.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                    h2.white-text Affordable Packages
                    .colored-line
                    .section-description
                        | List your app features and all the details Lorem ipsum dolor kadr
                    .colored-line
                .row
                    .col-md-4.col-sm-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .single-package
                            h3.package-heading.main-color
                                | Personal
       
       
                            .price
                                h2
                                    span.sign $
                                    | 50 
                                    span.month /month
       
       
                            ul.package-feature
                                li
                                    span.main-color.icon_check_alt2
                                    | Unlimited Photos
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Secure Online Transfer
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Unlimited Styles
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Cloud Storage
           
                                li
                                    span.main-color.icon_close_alt2
                                    | 24/7 Customer Service
           
                                li
                                    span.main-color.icon_close_alt2
                                    | Automatic Backup
                    .col-md-4.col-sm-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .single-package
                            h3.package-heading.main-color
                                | Business
       
       
                            .price
                                .color-bg
                                    h2
                                        span.sign $
                                        | 75 
                                        span.month /month
       
       
                            ul.package-feature
                                li
                                    span.main-color.icon_check_alt2
                                    | Unlimited Photos
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Secure Online Transfer
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Unlimited Styles
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Cloud Storage
           
                                li
                                    span.main-color.icon_check_alt2
                                    | 24/7 Customer Service
           
                                li
                                    span.main-color.icon_close_alt2
                                    | Automatic Backup
                    .col-md-4.col-sm-4.single-service.wow.fadeIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                        .single-package
                            h3.package-heading.main-color
                                | Ultimate
       
       
                            .price
                                h2
                                    span.sign $
                                    | 99 
                                    span.month /month
       
       
                            ul.package-feature
                                li
                                    span.main-color.icon_check_alt2
                                    | Unlimited Photos
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Secure Online Transfer
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Unlimited Styles
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Cloud Storage
           
                                li
                                    span.main-color.icon_check_alt2
                                    | 24/7 Customer Service
           
                                li
                                    span.main-color.icon_check_alt2
                                    | Automatic Backup
        section#download.download
            .color-overlay
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            .download-container
                                h2.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s') Download the app on
                                .buttons.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
                                    a.btn.btn-default.btn-lg.standard-button(href='')
                                        i.icon-app-store
                                        | App Store
               
                                    a.btn.btn-default.btn-lg.standard-button(href='')
                                        i.icon-google-play
                                        | Play Store
                            .subscription-form-container
                                h2.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s') Subscribe Now!

                                form.subscription-form.mailchimp.form-inline.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s', role='form')
                                    h4.subscription-success
               
                                    h4.subscription-error

                                    input#subscriber-email.form-control.input-box(type='email', name='email', placeholder='Your Email')

                                    button#subscribe-button.btn.btn-default.standard-button(type='submit') Subscribe
        footer
            .container
                .contact-box.wow.rotateIn.animated(data-wow-offset='10', data-wow-duration='1.5s')
                    a.btn.contact-button.expand-form.expanded
                        i.icon_mail_alt
                    .row.expanded-contact-form
                        .col-md-8.col-md-offset-2
                            form#contact.contact-form(role='form')
                                h4.success
                                    i.icon_check
                                    |  Your message has been sent successfully.
                                h4.error
                                    i.icon_error-circle_alt
                                    |  E-mail must be valid and message must be longer than 1 character.
           
           
                                .col-md-6
                                    input#name.form-control.input-box(type='text', name='name', placeholder='Your Name')
           
           
                                .col-md-6
                                    input#email.form-control.input-box(type='email', name='email', placeholder='Your Email')
           
           
                                .col-md-12
                                    input#subject.form-control.input-box(type='text', name='subject', placeholder='Subject')
               
                                    textarea#message.form-control.textarea-box(rows='8', placeholder='Message')
           
           
                                button#submit.btn.btn-primary.standard-button2.ladda-button(type='submit', name='submit', data-style='expand-left') Send Message
                img.responsive-img(src='http://templateocean.com/premium/template/kane/files/images/logo.png', alt='LOGO')
                ul.social-icons
                    li
                        a(href='')
                            i.social_facebook_square
                    li
                        a(href='')
                            i.social_twitter_square
                    li
                        a(href='')
                            i.social_pinterest_square
                    li
                        a(href='')
                            i.social_googleplus_square
                    li
                        a(href='')
                            i.social_instagram_square
                    li
                        a(href='')
                            i.social_dribbble_square
                    li
                        a(href='')
                            i.social_flickr_square
                p.copyright
                    | &copy;2014 Kane, All Rights Reserved
        script(src='./app/vendor/bootstrap.min.js')
        script(src='./app/vendor/smoothscroll.js')
        script(src='./app/vendor/jquery.scrollTo.min.js')
        script(src='./app/vendor/jquery.localScroll.min.js')
        script(src='./app/vendor/owl.carousel.min.js')
        script(src='./app/vendor/nivo-lightbox.min.js')
        script(src='./app/vendor/simple-expand.min.js')
        script(src='./app/vendor/wow.min.js')
        script(src='./app/vendor/jquery.stellar.min.js')
        script(src='./app/vendor/retina-1.1.0.min.js')
        script(src='./app/vendor/matchMedia.js')
        script(src='./app/vendor/jquery.backgroundvideo.min.js')
        script(src='./app/vendor/jquery.nav.js')
        script(src='./app/vendor/jquery.ajaxchimp.min.js')
        script(src='./app/vendor/jquery.fitvids.js')
        script(src='./app/vendor/custom.js')