doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='description' content='Responsive Bootstrap App Landing Page Template')
		meta(name='keywords' content='Kane, Bootstrap, Landing page, Template, App, Mobile')
		meta(name='author' content='Mizanur Rahman')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		title Kane - Responsive App Landing Page
		link(rel='icon' href='http://templateocean.com/premium/template/kane/files/images/favicon.ico')
		link(rel='apple-touch-icon' href='http://templateocean.com/premium/template/kane/files/images/apple-touch-icon.png')
		link(rel='apple-touch-icon' sizes='72x72' href='http://templateocean.com/premium/template/kane/files/images/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon' sizes='114x114' href='http://templateocean.com/premium/template/kane/files/images/apple-touch-icon-114x114.png')
		link(rel='stylesheet' href='./app/bootstrap.min.css')
		link(rel='stylesheet' href='./font/elegant-icons/style.css')
		link(rel='stylesheet' href='./font/app-icons/styles.css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic', rel='stylesheet', type='text/css')
		link(rel='stylesheet' href='./app/owl.theme.css')
		link(rel='stylesheet' href='./app/owl.carousel.css')
		link(rel='stylesheet' href='./app/nivo-lightbox.css')
		link(rel='stylesheet' href='./app/nivo_themes/default/default.css')
		link(rel='stylesheet' href='./app/animate.min.css')
		link(rel='stylesheet' href='./app/styles.css')
		link(rel='stylesheet' href='./app/colors/blue.css', title='blue')
		link(rel='stylesheet' href='./app/responsive.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
	body
		.preloader
			.status &nbsp;
		include /blocks/header/header
		include /blocks/features/features
		include /blocks/brief1/brief1
		include /blocks/brief2/brief2
		include /blocks/brief1_1/brief1_1
		include /blocks/testimonials/testimonials
		include /blocks/services/services
		include /blocks/screenshot-section/screenshot-section
		include /blocks/packages/packages
		include /blocks/download/download
		include /blocks/footer/footer

		script(src='./app/vendor/bootstrap.min.js')
		script(src='./app/vendor/smoothscroll.js')
		script(src='./app/vendor/jquery.scrollTo.min.js')
		script(src='./app/vendor/jquery.localScroll.min.js')
		script(src='./app/vendor/owl.carousel.min.js')
		script(src='./app/vendor/nivo-lightbox.min.js')
		script(src='./app/vendor/simple-expand.min.js')
		script(src='./app/vendor/wow.min.js')
		script(src='./app/vendor/jquery.stellar.min.js')
		script(src='./app/vendor/retina-1.1.0.min.js')
		script(src='./app/vendor/matchMedia.js')
		script(src='./app/vendor/jquery.backgroundvideo.min.js')
		script(src='./app/vendor/jquery.nav.js')
		script(src='./app/vendor/jquery.ajaxchimp.min.js')
		script(src='./app/vendor/jquery.fitvids.js')
		script(src='./app/vendor/custom.js')