header#home.header
				.color-overlay
						.navbar.navbar-inverse.bs-docs-nav.navbar-fixed-top.sticky-navigation
								.container
										.navbar-header
												button.navbar-toggle(type='button', data-toggle='collapse', data-target='#kane-navigation')
														span.sr-only Toggle navigation
														span.icon-bar
														span.icon-bar
														span.icon-bar
														img(src='http://templateocean.com/premium/template/kane/files/images/logo.png', alt='')
												a.navbar-brand(href='#')
										#kane-navigation.navbar-collapse.collapse
												ul.nav.navbar-nav.navbar-right.main-navigation
														li
																a(href='#home') Home
														li
																a(href='#features') Features
														li
																a(href='#brief1') Why Us?
														li
																a(href='#brief2') Desicribe
														li
																a(href='#services') Services
														li
																a(href='#screenshot-section') Screenshots
						.container
								.only-logo
														img(src='http://templateocean.com/premium/template/kane/files/images/logo.png', alt='')
								// /END ONLY LOGO ON HEADER
										.navbar
												.navbar-header
								.wrap_logo
										.logo_decore
												.text_decore
														| decore
														.left_line
														.right_line
												.text_game
														| game
														.left_line
														.right_line
												.text_studio
														| studio
														.left_line
														.right_line
														.bottom_left_line
														.bottom_right_line
								.row.home-contents
										.col-md-6.col-sm-6
												.intro-section
														h1.intro Present your app in beautiful way with Kane.
														h5 Available on App Store and Play Store
													#download-button.buttons
																a.btn.btn-default.btn-lg.standard-button(href='#download')
																		i.icon-app-download
																		| Download App
										.col-md-6.col-sm-6.hidden-xs
												.phone-image
														img.img-responsive(src='http://templateocean.com/premium/template/kane/files/images/2-iphone-right.png', alt='')