//- // app:js 
//- // endinject 
//- // libs:js 
//- // endinject 
script(src='./app/vendor/bootstrap.min.js')
script(src='./app/vendor/smoothscroll.js')
script(src='./app/vendor/jquery.scrollTo.min.js')
script(src='./app/vendor/jquery.localScroll.min.js')
script(src='./app/vendor/owl.carousel.min.js')
script(src='./app/vendor/nivo-lightbox.min.js')
script(src='./app/vendor/simple-expand.min.js')
script(src='./app/vendor/wow.min.js')
script(src='./app/vendor/jquery.stellar.min.js')
script(src='./app/vendor/retina-1.1.0.min.js')
script(src='./app/vendor/matchMedia.js')
script(src='./app/vendor/jquery.backgroundvideo.min.js')
script(src='./app/vendor/jquery.nav.js')
script(src='./app/vendor/jquery.ajaxchimp.min.js')
script(src='./app/vendor/jquery.fitvids.js')
script(src='./app/vendor/common.js')