doctype html
html
	head
		title Main
		include /_head.jade
	body
		main
			.preloader
			//- .status &nbsp;
			.wrap_logo
				.logo_decore
					.text_decore
						| full
						.left_line
						.right_line
					.text_game
						| studio
						.left_line
						.right_line
					.text_studio
						| _ ^ _
						.left_line
						.right_line
						.bottom_left_line
						.bottom_right_line
		include /blocks/header/header
		include /blocks/features/features
		include /blocks/brief1/brief1
		include /blocks/brief2/brief2
		include /blocks/brief1_1/brief1_1
		include /blocks/testimonials/testimonials
		include /blocks/services/services
		include /blocks/screenshot-section/screenshot-section
		include /blocks/packages/packages
		include /blocks/download/download
		include /blocks/footer/footer
		include /_foot.jade