section#features.features
				.container
						.section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
								h2.white-text Amazing Features
								.colored-line
								.section-description
										| List your app features and all the details Lorem ipsum dolor kadr
								.colored-line
						.row
								.col-md-4.col-sm-4.features-left.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
										.feature
												.icon-container
														.icon
																i.icon_map_alt
												.fetaure-details
														h4.main-color Responsive Design
														p
																| Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
										.feature
												.icon-container
														.icon
																i.icon_gift_alt
												.fetaure-details
														h4.main-color Bootstrap 3.1
														p
																| Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
										.feature
												.icon-container
														.icon
																i.icon_tablet
												.fetaure-details
														h4.main-color Cross-Browser Support
														p
																| Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magn.
								.col-md-4.col-sm-4
										.phone-image.wow.bounceIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
												img(src='http://templateocean.com/premium/template/kane/files/images/single-iphone.png', alt='')
								.col-md-4.col-sm-4.features-right.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
										.feature
												.icon-container
														.icon
																i.icon_genius
												.fetaure-details
														h4.main-color 360+ Icon Fonts
														p
																| Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
										.feature
												.icon-container
														.icon
																i.icon_lightbulb_alt
												.fetaure-details
														h4.main-color Creative Design
														p
																| Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.
										.feature
												.icon-container
														.icon
																i.icon_ribbon_alt
												.fetaure-details
														h4.main-color More Features
														p
																| Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore et dolore magna.