section#features.features
		.container
			.section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
				h2.white-text Как мы работаем
				.colored-line
				.section-description
					| Применяемые методы и технологии
				.colored-line
			.row
				.col-md-4.col-sm-4.features-left.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
					.feature
						.icon-container
							.icon
								i.icon_map_alt
						.fetaure-details
							h4.main-color Responsive Design
							p
								| Умело используя технологий Bootstrap и Flexbox получаем адаптивную верстку вашего сайта.
					.feature
						.icon-container
							.icon
								i.icon_gift_alt
						.fetaure-details
							h4.main-color BEM
							p
								| Применяя БЭМ методологию мы получаем сайт кторы можно поддерживать — долгие годы.

					.feature
						.icon-container
							.icon
								i.icon_tablet
						.fetaure-details
							h4.main-color Cross-Browser
							p
								| Стараемся делать тщательную проверку во всех современных брузерах.
				.col-md-4.col-sm-4
					.phone-image.wow.bounceIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
						img(src='http://templateocean.com/premium/template/kane/files/images/single-iphone.png', alt='')
				.col-md-4.col-sm-4.features-right.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
					.feature
						.icon-container
							.icon
								i.icon_genius
						.fetaure-details
							h4.main-color Автоматизация процесса
							p
								| Пользуясь рядом инструментов мы убираем рутинную работу и ускоряем технологический процесс. Gulp в качестве сборщика проэктов JADE и STYLUS в качестве HTML и CSS препроцессоров.
					.feature
						.icon-container
							.icon
								i.icon_lightbulb_alt
						.fetaure-details
							h4.main-color Командный подход
							p
								| Работая с репозиториями Github, Gitlab и Bitbuket добиваемся синхронной работы над проэктами как с работниками так и с клиентами.
					.feature
						.icon-container
							.icon
								i.icon_ribbon_alt
						.fetaure-details
							h4.main-color Дополнительная информация
							p
								| Работа с клиентами гибкая, делаем полный отчет о проделанной работе.