.features
  padding-top 80px
  padding-bottom 30px
  background #232323
  .features-left
    text-align right
    margin-top 26px
    margin-bottom 80px
    .icon-container
      float right
      margin-left 20px
  .features-right
    text-align left
    margin-top 26px
    margin-bottom 80px
    .icon-container
      float left
      margin-right 20px
  .feature
    margin-bottom 40px
    .icon-container
      display block
      min-height 150px
      margin-top 5px
      .icon
        width 55px
        height 55px
        border-radius 50%
        line-height 55px
        font-size 18px
        text-align center
        -webkit-transition all ease-in 0.25s
        transition all ease-in 0.25s
        -webkit-background-clip padding-box
        -moz-background-clip padding
        background-clip padding-box
  .phone-image
    max-width 250px
    margin auto
    margin-bottom 80px
    img
      width 100%