section#features.features
		.container
			.section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
				h2.white-text Причины почему вы выберете нас
				.colored-line
				.section-description
					| Используемые технологии
				.colored-line
			.row
				.col-md-4.col-sm-4.features-left.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s')
					.feature
						.icon-container
							.icon
								i.icon_map_alt
						.fetaure-details
							h4.main-color Responsive Design
							p
								| Умело используя технологий Bootstrap и Flexbox получаем адаптивную верстку вашего сайта.
					.feature
						.icon-container
							.icon
								i.icon_gift_alt
						.fetaure-details
							h4.main-color BEM
							p
								| На большинство проектов применяется методология БЭМ, благодаря чему мы получаем сайт который можно поддерживать — долгие годы.
					.feature
						.icon-container
							.icon
								i.icon_tablet
						.fetaure-details
							h4.main-color Cross-Browser
							p
								| В зависимости от достигаемой цели мы используем различных технологий, чтобы добиться желаемого результата.
				.col-md-4.col-sm-4
					.phone-image.wow.bounceIn.animated(data-wow-offset='120', data-wow-duration='1.5s')
						img(src='http://templateocean.com/premium/template/kane/files/images/single-iphone.png', alt='')
				.col-md-4.col-sm-4.features-right.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
					.feature
						.icon-container
							.icon
								i.icon_genius
						.fetaure-details
							h4.main-color Автоматизация процесса
							p
								| Пользуясь следующими инструментами мы убираем рутинную работу и ускоряем технологический процесс. В качестве сборщика проэктов используем Gulp, а также CSS препроцессор STYLUS и HTML препроцессор JADE.
					.feature
						.icon-container
							.icon
								i.icon_lightbulb_alt
						.fetaure-details
							h4.main-color Командный подход
							p
								| Работая с репозиториями Github, Gitlab и Bitbuket добиваемся синхронной работы над проэктами.
					.feature
						.icon-container
							.icon
								i.icon_ribbon_alt
						.fetaure-details
							h4.main-color Дополнительная информация
							p
								| Работа с клиентами гибкая, делаем полный отчет о проделанной работе.