section#download.download
				.color-overlay
						.container
								.row
										.col-md-8.col-md-offset-2
												.download-container
														h2.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s') Download the app on
														.buttons.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s')
																a.btn.btn-default.btn-lg.standard-button(href='')
																		i.icon-app-store
																		| App Store
																a.btn.btn-default.btn-lg.standard-button(href='')
																		i.icon-google-play
																		| Play Store
												.subscription-form-container
														h2.wow.fadeInLeft.animated(data-wow-offset='10', data-wow-duration='1.5s') Subscribe Now!
														form.subscription-form.mailchimp.form-inline.wow.fadeInRight.animated(data-wow-offset='10', data-wow-duration='1.5s', role='form')
																h4.subscription-success
																h4.subscription-error
																input#subscriber-email.form-control.input-box(type='email', name='email', placeholder='Your Email')
																button#subscribe-button.btn.btn-default.standard-button(type='submit') Subscribe